/*bg generale (gris clair)*/
$background-color: #F7F4F4;

/*bg eclaircit pour option du radiant (gris tres clair lumineux limite blanc,#fbfafa)*/
$background-color-light: lighten($background-color,2%);

/*couleur 2 pour radiant button (violet) et puce ronde des liste index*/
$primary-color: #9356dc;

/*couleur 1 pour radiant button (rose)*/
$secondary-color: #FF79DA;

/*couleur pour hr, titre fieldset et page de contact()bleu/vert*/
$tretiary-color: #99E2D0;

/*couleur tertiaire assombri pour radiant body page contact*/
$body_contact: darken($tretiary-color,35%);

/*radiant de couleur (violet/rose) pour les buttons submit*/
$background-radiant-button: -webkit-linear-gradient($secondary-color,$primary-color);

/*radiant de couleur (gris/gris blanc) pour les bodys */
$background-radiant-boby: -webkit-linear-gradient( $background-color-light,$background-color );

/*radiant de couleur (gris/gris blanc) pour la page de contact */
$background-radiant-contact: -webkit-linear-gradient($body_contact,$tretiary-color );


/*Les beakpoints , le site est developpe en Mobile First les breakpoints commencent donc a 670 pour l'affichage landscape
    et a 767 px l'affichage en portrait*/
$breakpoints: (
/*breakpoint correction affichage petit telephone max width 400px*/
"petit-mobile": 400px,
/*breakpoint grand portable*/
"grand-mobile":979px,
/*breakpoint petite tablette*/
"petite-tablette":670px,
/*breakpoint petite tablette et grand portable landscape*/
"tablette":767px,
/*breakpoint tablette*/
"tablette-down":1099px,
/*breakpoint grande tablette()ipad pro et + */
"grande-tablette":1024px,
/*breakpoint pour ecran large ,specifique affichage menu*/
"ecran-large":1100px,
/*breakpoint pour ecran large ,specifique affichage index*/
"ecran-xlarge":1200px,
/*breakpoint pour ecran extra large */
"ecran-xxlarge":1400px
    );

$orientaion:landscape;